<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Updates - Digital Agency News | Cargo</title>
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/main.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/assets/js/scripts.js"></script>
  </head>
 

<body class="blog">

<div class="site-wrap">

<div class="blog-grid" id="contentScroll">

<div class="blog-grid--column">

<section class="mid" data-pad="tightbot">
<div class="wrap">

<h1 class="page-heading">Updates</h1>

{% for post in site.posts %}

<article class="article--listed" itemscope itemtype="http://schema.org/Blog">
    <div class="article--inner">
        <div class="article--author">
            {% if post.post-author-img %}{% include post-author.html image=post.post-author-img alt=post.post-author %}{% endif %}
        </div>
        <div class="article--listed--main">
            <a class="article--link" href="{{ post.url }}" title="{ post.title }}'">
                <p class="article--heading" itemprop="headline"><span>{{ post.title }}</span></p>
            </a>
            <p class="article--date"><span itemprop="dateCreated" content="{{ page.date | date_to_string }}">{{ post.date | date_to_string }}</span></p>
            <div class="content" itemprop="text">
                <p>{{ post.excerpt }}</p>
            </div>
            <div class="article--listed--extra">
                <p class="article--more"><a href="{{ post.url }}" title="{ post.title }}">Read post</a></p>
                <nav class="article--cats">
                <a class="article--cat" href="recruitment/" itemprop="category" title="View posts from the Recruitment category">Recruitment</a>
                </nav>
            </div>
        </div>
    </div>
</article>

{% endfor %}

</div>

</section>

</div>

</div>

</div>

</body>
</html>